body {
	padding-top: 80px;
	background-image: url('../images/devfest-wallpaper.png');
	background-color: rgb(229, 229, 229);
	font-family: 'Roboto', sans-serif;
	color: #505050;
}

h1, h2, h3, h4, h5 {
	font-family: "Open Sans","Arial",sans-serif;
}

.lead {
	font-weight: 300;
}

.navbar {
	border: none;
	li a {
		border-bottom: 5px solid rgb(34, 34, 34);
	}

	li.active.red a,
	li.red a:hover {
		border-bottom: 5px solid rgb(213, 63, 52);
	}

	li.active.blue a,
	li.blue a:hover {
		border-bottom: 5px solid rgb(68, 134, 248);
	}

	li.active.green a,
	li.green a:hover {
		border-bottom: 5px solid rgb(10, 162, 90);
	}

	li.active.yellow a,
	li.yellow a:hover {
		border-bottom: 5px solid rgb(251, 201, 68);
	}

	li.red a:hover,
	li.active.red:hover a {
		background-color: rgb(213, 63, 52);
	}

	li.blue a:hover,
	li.active.blue:hover a {
		background-color: rgb(68, 134, 248);
	}

	li.green a:hover,
	li.active.green:hover a {
		background-color: rgb(10, 162, 90);
	}

	li.yellow a:hover,
	li.active.yellow:hover a {
		background-color: rgb(251, 201, 68);
	}
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding: 0;
	}
	.navbar-brand {
		padding: 5px 10px;
	}
}

.nav>li>a {
	padding: 5px 10px;
}

.navbar {
	min-height: 0;
}

@import 'compass/css3/transition';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/border-radius';

@import 'helpers/variables';
@import 'helpers/countdown';
@import 'helpers/register';
@import 'helpers/features';
@import 'helpers/partners';
@import 'helpers/parallax';
@import 'helpers/speakers';

.footer-bottom {
	padding: 20px 0;
	background-color: #222;
	border-color: #080808;
	color: white;
}