.our-partners-wrapper {
	background-color: $color-dark;
	.our-partners {
		padding-bottom: 60px;
		h2 {
			color: white;
			font-weight: lighter;
		}
		.our-partners-logo {
			@include transition(all 0.2s ease);
			opacity: 0.3;
			padding-top: 50px;
			text-align: center;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

@media (max-width: 767px) {
	.our-partners-wrapper {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px
	}
}