<!doctype html>
<html>
	<head>
		<title>GDG DevFest Israel 2013</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<meta property="og:image" content="http://ebmedia.eventbrite.com/s3-build/images/710574/44361983256/4/logo.png"/>
		<meta property="og:title" content="GDG DevFest 2013 Israel"/>
		<meta property="og:site_name" content="Google Developer Groups Israel"/>
		<meta property="og:description" content="GDG DevFest @ CampusTLV: 18 sessions given by great speakers in 3 tracks: Android, Cloud &amp; Web and Innovation. Register &amp; Reserve your ticket now!" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css?v=5" rel="stylesheet">
		<link href="font/pictopro-outline/style.css" rel="stylesheet">
	</head>

	<body ng-app="DevFest">
	<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" gdg-navbar>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle">
						<span class="sr-only">Menu</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">GDG DevFest Israel</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-links">
					<ul class="nav navbar-nav">
						<li class="red home-link active"><a href="#">Home</a></li>
						<li class="blue home-link"><a href="#register">Registration</a></li>
						<li class="green speakers-link"><a href="#speakers">Speakers</a></li>
						<li class="yellow schedule-link"><a href="#schedule">Schedule</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div ng-controller="CountDownCtrl" class="container">
			<div class="countdown-container row">
                <h1><img src="/images/logo.png"><br>Developers Event</h1>
				<h2>31.10.2013, 14:00</h2>
				<span gdg-countdown data-title="DAYS" data-value="countDown.days"></span>
				<span gdg-countdown data-title="HOURS" data-value="countDown.hours"></span>
				<span gdg-countdown data-title="MINUTES" data-value="countDown.minutes"></span>
				<span gdg-countdown data-title="SECONDS" data-value="countDown.seconds"></span>
			</div>
		</div>

		<div id="register" class="registration-wrapper">
			<div class="container">
				<h2>Event Registration</h2>
				<h4>Register now and reserve your place</h4>

				<div class="registration">
					<a class="btn btn-primary btn-lg" href="https://www.eventbrite.com/event/9004469611">
						<i class="icon icon-outline-right-arrow"></i>
						Register
					</a>
				</div>
			</div>
		</div>

		<div class="features-wrapper">
			<div class="container features">
				<div class="row">
					<div class="item orange col-md-4">
						<div class="background-icon">
							<i class="icon icon-outline-pointer"></i>
						</div>

						<h3>Campus TLV</h3>

						<p class="features-description">
							Campus Tel Aviv, powered by Google for Entrepreneurs, is a hub for entrepreneurs and developers located in the heart of the startup nation.
						</p>
					</div>

					<div class="item blue col-md-4">
						<div class="background-icon">
							<i class="icon icon-outline-clock"></i>
						</div>

						<h3>3 tracks</h3>

						<p class="features-description">
							DevFest features 3 parallel tracks around Web & Cloud, Mobile and Innovation. 
						</p>
					</div>

					<div class="item yellow col-md-4">
						<div class="background-icon">
							<i class="icon icon-outline-megaphone"></i>
						</div>

						<h3>18 cool sessions</h3>

						<p class="features-description">
							A community driven event featuring 18 talks of the developers' community leading experts.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="speakers" class="speakers-wrapper">
			<div class="container">
				<h2>Tracks &amp; Sessions</h2>
				<h4>The latest and hottest tech</h4>

				<div class="speakers">
					<tabset>
						<tab heading="Android">
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/LironSher.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Liron Sher</p>

									<p class="company">Co-Founder &#38; CTO, Wishop</p>

									<p class="talk-title">Mobile back-end </p>

									<p class="time"><span class="time-start">14:30</span> - 15:15</p>
								</div>
								<div class="col-sm-3">
									<div class="about">
										<h4>About Liron</h4>
										<p>
										<a href="http://lirons.com" target="_blank">Lirons.com</a>
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/RanNachmany.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Ran Nachmany</p>

									<p class="company">Android GDE &#38; Lecturer at the Technion</p>

									<p class="talk-title">App's life, from download to loyal user</p>

									<p class="time"><span class="time-start">15:15</span> - 16:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Ran</h4>
										<p>
											An entrepreneur, programmer, hacker but most important husband and father of the most gorgeous kids on the planet. Ran is passionate about building smooth and efficient apps and spends most of his time consulting, training developers and building apps. 
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/MuhammadZahalqa.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Muhammad Zahalqa</p>

									<p class="company">Experis CTO</p>

									<p class="talk-title">C++11 &#38; Andorid NDK</p>

                                    <p class="talk-desc">The session will cover the major new features in the C++11 standard and how they can be put to work in developing "realy" native modules for the perfromance critical parts of your Android applications using the NDK.</p>

									<p class="time"><span class="time-start">16:30</span> - 17:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Muhammad</h4>
										<p>
											Muhammad Zahalqa is a hands on architect experienced in enterprise large scale systems. He speaks more than 8 programming languages, currently focused on C++11, Scala, Ruby and Java. Also acts as a co-organizer of GDG Nazareth.
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/Royi.png" alt="">
									</div>
								</div>
								<div class="col-sm-7">
									<p class="name">Royi Ben Yosef</p>

									<p class="company">Android GDE, STB client team leader at Vidmind</p>

									<p class="talk-title">Android Monetizing</p>

                                    <p class="talk-desc">It's good that you have an idea and even better if you can implement it, but, if you don't know how to make money of it it will remain a hobby rather than a business. in this session i'll try to guide you through how to plan the business and a few tools that can help you from the Google ecosystem.</p>

									<p class="time"><span class="time-start">17:15</span> - 18:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Royi</h4>
										<p>
											Android developer since SDK level 1.1 (about 3 years) and have been a mobile developer (iOS, AppEngine) for about 2 years, been working on a lot of applications but the projects that set me apart are integration with non-standard Android platforms or AOSP based devices which means STBs and white label boards.
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/YossiElkrief.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Yossi Elkrief</p>

									<p class="company">ooVoo Senior Android developer</p>

									<p class="talk-title">Android Design - Onboarding and other UX</p>

                                    <p class="talk-desc">Yossi will guide you through common UX issues and ways to create fluid onboarding experience for users in Android.</p>

									<p class="time"><span class="time-start">18:30</span> - 19:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Yossi</h4>
										<p>
											As an Android user since G1 and developer just before SDK 1.0 i’ve seen the platform grows,evolve and spread to the entire world with great success. Tech enthusiast with the love to see/test and explore new products/ideas or pure code that can later help forge the way to people's hearts. Always keen to know more, just ping me anytime.
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/LeonidOlevsky.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Leonid Olevsky</p>

									<p class="company">ooVoo Android developer</p>

									<p class="talk-title">Playing with new stuff from IO 2013</p>

                                    <p class="talk-desc">What could be cooler than playing with new things from IO 2013, I will show you examples of using things like: AppCompat, Fused Location, Volley and more...</p>

									<p class="time"><span class="time-start">19:15</span> - 20:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Leonid</h4>
										<p>
											TBD	
										</p>
									</div>
								</div>
							</div>
						</tab>

						<tab heading="Web &amp; Cloud">

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/Shai.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Shai Mesisterano</p>

									<p class="company">Web Developer at ooVoo</p>

									<p class="talk-title">5&frac12; Useful Tools For Web Development</p>

                                    <p class="talk-desc">Shai will share with you the most useful tools that are available to make it easier and faster for you to develop web applications.</p>

									<p class="time"><span class="time-start">14:30</span> - 15:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Shai</h4>
										<p>
											<a href="www.mcterano.com/" target="_blank">www.mcterano.com</a>
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/OrenRubin.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Oren Rubin</p>

									<p class="company">R&amp;D Director at applitools</p>

									<p class="talk-title">QA Automation - The Full Tour</p>

                                    <p class="talk-desc">What are the Integration Tests methodologies? What are the tools to be used for functional testing? What's the difference between Object-based tools (Selenium, QTP) and Image-based (Sikuli, eggPlant). We'll introduce the caveats of Functional Testing, and what new tools are available to validate the visual aspects of the UI.</p>

									<p class="time"><span class="time-start">15:15</span> - 16:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Oren</h4>
										<p>
											Oren has over 15 years of experience in the software industry in various roles. He is now Director of R&D at Applitools. Oren has vast experience in Distributed Computing (IBM), Compilers (Cadence) and Web Programming (Wix).
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/YaronBudowski.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Yaron Budowski</p>

									<p class="company">Freelance Web &amp; Mobile developer</p>

									<p class="talk-title">Intro To Cloud Solutions For Mobile &amp; Web</p>

									<p class="time"><span class="time-start">16:30</span> - 17:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Yaron</h4>
										<p>
											A retried startup guy and geek/hacker. Not because he sold his company for millions, but because he wanted to retire early and start doing his bucket list.
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/ShayErlichman.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Shay Erlichmen</p>

									<p class="company">Samba.me CTO</p>

									<p class="talk-title">Stuff I Learned From AppEngine</p>

                                    <p class="talk-desc">The AppEngine is an amazing product, in my lecture I will give a brief overview about the AppEngine platform but dive deeper into the architecture of it that makes is so assume.</p>

									<p class="time"><span class="time-start">17:15</span> - 18:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Shay</h4>
										<p>
											From a very early age Shay enjoyed squeezing every cycle that his CPU could handle. A lot of servers burnt under his never ending quest to make things run faster. In the past few years he lets big corporations to take care of his servers while he makes sure that his clients and companies don't need to break the bank in the process. He is an avid AppEngine developer and one of the first users of Cloud computing.
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/OrenRubin.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Oren Rubin &amp; Asaf David</p>

									<p class="company">R&amp;D Director at applitools, Co founder &amp; CTO @ Bink</p>

									<p class="talk-title">Ember.js vs. Angular.js</p>

                                    <p class="talk-desc">Ember.js is a client side MVC framework which started as a fork from Apple's SproutCore, comprising many capabilities only few could take advantage of. With the help of many contributors such as Yehuda Katz (JQuery, Ruby on Rails) and others, getting started with Ember is now much easier, while keeping its advantages of performance, routing, data bindings and automatic communication with server.</p>

									<p class="time"><span class="time-start">18:30</span> - 19:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Oren &amp; Asaf</h4>
										<p>
											Oren has over 15 years of experience in the software industry in various roles (IBM, Wix, Cadence, ..) and  is now Director of R&D at Applitools. Oren has vast experience in Front End Development, with emphasis of writing large scale applications using MVC frameworks, and helped write the Wix MVC framework.
										</p>
										<br />
										<p>
											Asaf is an entrepreneur and a full stack developer. Mamram graduate, over 10 years of experience, founder and CTO of TixWise and Bink. Web consultant.
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/GilFink.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Gil Fink</p>

									<p class="company">Senior Architect, MVP, MCT, Sela Group</p>

									<p class="talk-title">Building Scalable JavaScript Apps</p>

                                    <p class="talk-desc">Building and maintaining big and scalable JavaScript web apps is a difficult task. Using and combining proven JavaScript patterns can help to achieve this complicated task. In this workshop we will talk about the patterns that are behind some of the largest JavaScript apps on the Web today.</p>

									<p class="time"><span class="time-start">19:15</span> - 20:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Gil</h4>
										<p>
											Gil Fink is an expert in web development and Microsoft web and data platforms.
											He organizes the Front-End.IL Meetup and writes about technology in his personal blog.
										</p>
										<p>
											<a href="http://www.gilfink.net/" target="_blank">http://www.gilfink.net/</a>
										</p>
									</div>
								</div>
							</div>
						</tab>

						<tab heading="Innovation">
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/YaronBenAdiva.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Yaron Ben Adiva</p>

									<p class="company">Product &amp; UX @ webux</p>

									<p class="talk-title">Introduction to UX</p>

                                    <p class="talk-desc">User experience is not about doing wire frames. UX is a gathering of amazing tools that enables us to plan our digital product according to whom we believe is our user and what we think he'll want or do while visiting this product of ours. Only then when every thing is ready to launch - The journey begins.</p>

									<p class="time"><span class="time-start">14:30</span> - 15:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Yaron</h4>
										<p>
											Born as a designer, but kept on asking 'WHY'. Felt that I had to do something else most of the time. After reaching a glass siling as a creative director, started to manage 5 M UU's as d.co.il site manger. Managing UX, Design and Dev teams with a clear goal of maintaining and launching the current and the next product. 
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/AnatReichman.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Anat Reichman</p>

									<p class="company">Director of Development, Genome Compiler</p>

									<p class="talk-title">Intro to Synthetic Biology</p>

                                    <p class="talk-desc">Genome Compiler was built to enable the design and creation of useful living things to solve our global challenges. Our civilization is totally dependent on finite resources of coal, oil and natural gas.  A radical solution is to harness the power of biology. Living things can use renewable resources such as sugar, sunlight and CO2 and they are versatile enough to produce almost everything we currently get from fossil fuels. Living things can also scale to meet our global challenges. The rapidly falling prices of both reading DNA (sequencing) and writing DNA (synthesis)is the underlying disruptive force for this new field of Synthetic Biology.</p>

									<p class="time"><span class="time-start">15:15</span> - 16:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Anat</h4>
										<p>
											Democratizing creation, innovation in biotechnology that will enable a more sustainable future
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/DavidKatz.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">David Katz</p>

									<p class="company">Founder, Blue Bamboo</p>

									<p class="talk-title">Anatomy of a Startup</p>

                                    <p class="talk-desc">Throwing a startup on the operating table, what do we find? Is every startup a unique snowflake? Not really. What's a good startup made of?</p>

									<p class="time"><span class="time-start">16:30</span> - 17:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About David</h4>
										<p>
											An entrepreneur, a designer and a developer. He built two dozen products, some used millions of times, some miserable failures.
										</p>
									</div>
								</div>
							</div>

							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/JonathanSchipper.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Jonathan Schipper</p>

									<p class="company">Founder, Builder, Breaker, Maker at Johnny505 Studios</p>

									<p class="talk-title">Google Glass</p>

									<p class="time"><span class="time-start">17:15</span> - 18:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Jonathan</h4>
										<p>
											Likes wearables, ubiquitous tech, people and the places they meet.
											An enthusiastic Google, open source and security advocate (not necessarily in that order)
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/FabioKon.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Fabio Kon</p>

									<p class="company">Visiting Professor, Technion</p>

									<p class="talk-title">Benefiting From and Contributing to Open Source Software</p>

                                    <p class='talk-desc'>We will explain how and why you should benefit and contribute to OSS, discussing licenses, communities, code base, quality assessment, and collaboration.</p>

									<p class="time"><span class="time-start">18:30</span> - 19:15</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Fabio</h4>
										<p>
											Computer Science Professor at the University of Sao Paulo, Brazil, former Board Member of the Open Source Initiative and passionate agile consultant.
										</p>
										<p>
											<a href="http://www.ime.usp.br/~kon " target="_blank">http://www.ime.usp.br/~kon </a>
										</p>
									</div>
								</div>
							</div>
							<div class="row speaker">
								<div class="col-sm-2 image center">
									<div class="image-box">
										<img src="images/speakers/KiraRadinsky.jpg" alt="">
									</div>
								</div>

								<div class="col-sm-7">
									<p class="name">Kira Radinsky</p>

									<p class="company">CTO, SalesPredict</p>

									<p class="talk-title">Predicting Future Events from Large-scale Digital Histories</p>

									<p class='talk-desc'>
										It has been a long time quest of artificial intelligence to develop
										systems that can emulate human reasoning. Fundamental capabilities of
										such intelligent behavior are the abilities to understand causality
										and to predict. Those are essential for many artificial intelligence
										tasks that rely on human common-sense reasoning, such as decision
										making, planning, question-answering, inferring user intentions and
										responses.
									</p>

									<a href="" ng-click="kiraDescReadMore=true" ng-hide="kiraDescReadMore">
										Read more...
									</a>

									<p class='talk-desc' ng-show="kiraDescReadMore">
										Much of the causal knowledge that helps humans understand the world is
										recorded in texts that express people's beliefs and intuitions. The
										World Wide Web encapsulates much of our human knowledge through news
										archives and encyclopedias. This knowledge can serve as the basis for
										performing true human-like prediction - with the ability to learn,
										understand language, and possess intuitions and general world
										knowledge.
									</p>

									<p class='talk-desc' ng-show="kiraDescReadMore">
										In this talk I will present a learning system, which given an
										event, represented in natural language, predicts a possible future
										event it can cause. During its training, we constructed a
										semantically-structured causality graph of 300 million fact nodes
										connected by more than one billion edges, based on 150 year old news
										archive crawled from the web. We devised a machine learning algorithm
										that infers causality based on this graph. Using common-sense
										ontologies , it generalizes the events it observes, and thus able to
										reason about completely new events. We empirically evaluate our system
										on the 2010 news, and compare our predictions to human predictions. The
										results indicate that our system predicts similarly to the way humans
										do.
									</p>

									<p class="time"><span class="time-start">19:15</span> - 20:00</p>
								</div>

								<div class="col-sm-3">
									<div class="about">
										<h4>About Kira</h4>
										<p>
											Dr. Kira Radinsky is one of the up and coming voices in the data science community, offering a fresh perspective on data mining and its applications. Her work focuses on the intersection of predictive data mining and the construction of algorithms that leverage web-found information and external dynamics to predict future events.  A graduate of the Technion-Israel Institute of Technology, Dr. Radinsky gained international recognition for her work there and at Microsoft Research where she developed predictive algorithms that recognized the early warning of globally impactful events, (e.g. riots or diseases.)
										</p>
										<a href="" ng-click="kiraShowMore=true" ng-hide="kiraShowMore">Read more...</a>
										<p ng-show="kiraShowMore">
											Dr. Radinsky is the CTO and cofounder of SalesPredict, a sales technology company.  She is pioneering artificial intelligence based, predictive analytics solutions that transform the way companies do business.
										</p>
										<p ng-show="kiraShowMore">
											In 2013, Kira Radinsky was named to the prestigious "35 Young Innovators Under 35", as chosen by the MIT Technology Review.
										</p>
									</div>
								</div>
							</div>
						</tab>
					</tabset>
				</div>
			</div>
		</div>

		<div id="schedule" class="parallax-wrapper parallax-first ">
			<div class="parallax">
				<div class="inner">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 schedule">
								<h4>Event Schedule</h4>
								<div class="schedule-line">14:00 - Meet &amp; Mingle</div>
								<div class="schedule-line">14:30 - Talks</div>
								<div class="schedule-line">16:00 - Coffee Break</div>
								<div class="schedule-line">16:30 - Talks</div>
								<div class="schedule-line">18:00 - Dinner</div>
								<div class="schedule-line">18:30 - Talks</div>
								<div class="schedule-line">20:00 - C'ya next year :)</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="our-partners-wrapper">
			<div class="our-partners container">
				<div class="our-partners-inner">
					<h2>Big thanks to our partners</h2>

					<div class="row">
						<div class="col-md-3 center">
							<a href="http://thejunction.co.il/" target="_blank">
								<img class="our-partners-logo" src="images/partners/junction.png" alt="">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://geektime.co.il" target="_blank">
								<img class="our-partners-logo" src="images/partners/Geektime.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/Ember-IL/" target="_blank">
								<img class="our-partners-logo" src="images/partners/ember-il.png" alt="">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/AngularJS-IL/" target="_blank">
								<img class="our-partners-logo" src="images/partners/AngularJSIL.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/JavaScript-Israel/" target="_blank">
								<img class="our-partners-logo" src="images/partners/jsisrael-small.jpg" alt="Javascript Israel">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/Talking-Lean/" target="_blank">
								<img class="our-partners-logo" src="images/partners/talking-lean-icon.jpg" alt="Talking Lean">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/FrontEnd-IL/" target="_blank">
								<img class="our-partners-logo" src="images/partners/FrontEndIL.png" alt="">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/full-stack-developer-il/" target="_blank">
								<img class="our-partners-logo" src="images/partners/fullstack.png" alt="">
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/BeerTech/" target="_blank">
								<img class="our-partners-logo" src="images/partners/BeerTECH.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 center">
							<a href="http://www.meetup.com/HTML5-IL/" target="_blank">
								<img class="our-partners-logo" src="images/partners/HTML5IL.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="copyright col-md-6">
						&copy; 2013 Copyright GDG Israel
					</div>

					<a href="http://www.meetup.com/GDG-Haifa/" class="col-md-1">
						Haifa
					</a>
					<a href="http://www.meetup.com/GDG-Nazareth/" class="col-md-1">
						Nazareth
					</a>
					<a href="http://www.meetup.com/GDG-Tel-Aviv/" class="col-md-1">
						Tel-Aviv
					</a>
					<a href="http://www.meetup.com/GDG-Herzeliya/" class="col-md-1">
						Herzeliya
					</a>
					<a href="http://www.meetup.com/GDG-Beer-Sheva/" class="col-md-2">
						Be'er-Sheva
					</a>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
		<script src="js/app.js?v=4"></script>

		<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-45150504-1', 'gdg.co.il');
			  ga('send', 'pageview');
		</script>
  
<!-- ClickTale Bottom part -->

<script type='text/javascript'>
// The ClickTale Balkan Tracking Code may be programmatically customized using hooks:
// 
//   function ClickTalePreRecordingHook() { /* place your customized code here */  }
//
// For details about ClickTale hooks, please consult the wiki page http://wiki.clicktale.com/Article/Customizing_code_version_2

document.write(unescape("%3Cscript%20src='"+
(document.location.protocol=='https:'?
"https://clicktalecdn.sslcs.cdngc.net/www02/ptc/e5430c1b-8614-44af-bc92-7ce5671a6911.js":
"http://cdn.clicktale.net/www02/ptc/e5430c1b-8614-44af-bc92-7ce5671a6911.js")+"'%20type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- ClickTale end of Bottom part -->
	</body>
</html>
